/*For english articles*/
@import url("https://smc.org.in/fonts/malini.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
:root {
    --paragraph-margins: 0.9rem 0rem 0.9rem 0rem;
    --paragraph-margins-first: 2rem 0rem 0.7rem 0rem;
    --paragraph-margins-last: 0.7rem 0rem 8rem 0rem;
    --heading-margins-h1: 2rem 0rem 3rem 0rem;
    --heading-margins-h2: 1.5rem 0rem 1rem 0rem;
    --heading-margins-h3: 1.5rem 0rem 0.5rem 0rem;
    --heading-margins: 2rem 0rem 0.4rem 0rem;
    --table-margins: 1rem auto 1.5rem auto;
    --list-margins: 0.5rem 0rem 1rem 0rem;
    --list-nested-margins: 0rem 0rem 1rem 0rem;
    --paraline-height: 1.4;
    --paraquote-line-height: 1.35;
    --paratext-indent: 1.4rem;
}
html {
    font-size: 19.5px;
    scroll-padding-top: 55px; /*height of sticky header*/
}
body {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*background: rgb(240, 240, 235); */
}
* {
    scroll-behavior: smooth;
}

/*Top Bar - when position is fixed, top, left and right values determine position in the view port*/
	.top-bar {
	  position: fixed;
	  top: 0px;
	  left: 0px;
	  right: 0px;
	  height: 55px;
	  background-color: rgb(145, 0, 72);
	  box-shadow: #575757;
	  /*background: linear-gradient(rgb(211, 211, 211), rgb(245, 245, 245) 30%, rgb(160, 160, 160));*/
	  background: linear-gradient(rgba(10, 0, 109, 100), rgb(3, 11, 139) 30%, rgb(0, 15, 66));
      box-shadow: 0 2 5px 0 #575757;
	  z-index: 8;
	}
	/*for one-sided shadow under the top bar*/
	.one-edge-shadow {
	  -webkit-box-shadow: 0 8px 6px -6px rgb(58, 58, 58);
	  -moz-box-shadow: 0 8px 6px -6px rgb(59, 59, 59);
	  box-shadow: 0 12px 6px -6px rgb(78, 78, 78);
	}
	.logo {
	  width: 45px;
	  margin: 5px 0px 0px 5px;
	  float: none; /*float with position and display keeps the logo locked in position*/
	  position: fixed;
	  left: 2px;
	  top: 2px;
	  display: block;
	  z-index: 10;
	}
	
		/*---------------*/
	hr {
	  width: 30%;
	  margin-bottom: 5rem;
	  margin-top: 3rem;
	}
	.borderbottom {
	  border-bottom: 1px solid;
	}
	.nodisplay {
	display: none;
	}
/*#### FONT FAMILIES ####*/
.eng {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 1em;
    font-style: normal;
}
.lato {
    font-family: "Lato", "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 0.85em;
}
.malini {
    font-family: "Malini", sans-serif;
}
.title {
    font-family: "EB Garamond", serif;
    font-weight: 700;
    /*font-stretch: 90%;*/
    line-height: 1.2;
}
.subtitle {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.2;
}
.publication-data p {
    font-family: "Lato";
    font-weight: 300;
}
h1 {
    font-family: "EB Garamond", serif;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: "EB Garamond", serif;
    line-height: 1.1;
}
h2,
h3 {
    font-weight: 400;
}
h4,
h5,
h6 {
    font-weight: 700;
}
p,
ol,
ul,
td {
    font-family: "EB Garamond", serif;
    font-weight: 400;
}
figcaption,
th {
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-style: italic;
    font-optical-sizing: auto;
}
.pullquote,
.kicker {
    font-family: "Lato";
    font-weight: 300;
    line-height: 1.2;
}
/*IMAGES and LINKS*/
img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
a img {
    border: 0 none;
}
.image-link {
    background-color: transparent;
    background: none;
    text-decoration: none;
    border-bottom: none;
}
iframe {
    margin: 0 auto;
    background-color: rgb(240, 240, 235);
    display: block;
    border-style: none;
}
.dropcap {
    float: left;
    line-height: 0.9;
    vertical-align: text-top;
    font-size: 4rem;
    padding-right: 5px;
    padding-top: 0px;
}
.title {
    font-size: 3rem;
    line-height: 1.3;
    text-align: center;
    margin-top: 2rem;
}
.subtitle {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin-top: 1rem;
}
.author {
    font-size: 1.5rem;
    font-weight: 700;
    font-variant: small-caps;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin-top: 3rem;
}
.chaptitle,
.chaptitle-prelims {
    font-size: 2.8rem;
    text-align: center;
}
h1 {
    font-size: 3rem;
    line-height: 1.2;
    text-align: center;
    margin: var(--heading-margins-h1);
}
h2 {
    font-size: 2.2rem;
    line-height: 1.4;
    text-align: center;
    padding-top: 0.5rem;
    margin: var(--heading-margins-h2);
}
h3 {
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: left;
    margin: 1.5rem 0rem 0.5rem 0rem;
    -webkit-break-after: avoid;
    break-after: avoid;
}
h4 {
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: left;
    margin: 1.5rem 0rem 0.5rem 0rem;
    -webkit-break-after: avoid;
    break-after: avoid;
}
.chapnum {
    font-size: 1.4rem;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
    text-indent: 0;
}
.chapheadnum {
    font-size: 0.65em;
    font-weight: 400;
}
p {
    font-size: 1.3rem;
    margin-top: 0rem;
    margin-bottom: 0.6rem;
    line-height: var(--paraline-height);
    text-indent: var(--paratext-indent);
}
.quotation {
    font-size: 1.25rem;
    line-height: var(--paraquote-line-height);
    margin-top: 0.7em;
    margin-bottom: 0.9em;
    padding-left: 2rem;
    padding-right: 1.13rem;
    text-indent: 0rem;
}
blockquote p {
    font-size: 1.25rem;
    line-height: var(--paraquote-line-height);
    margin-top: 0.7em;
    margin-bottom: 0.9em;
    padding-left: 2rem;
    padding-right: 1.13rem;
    text-indent: 0rem;
}
.bluemargin {
    border-left: rgb(183, 198, 212) solid 20px;
    padding-left: 1.5rem;
}
.kicker {
    font-size: 1.6rem;
    line-height: 1.3;
    margin-top: 1em;
    margin-bottom: 1.5em;
    text-indent: 0rem;
}
.pullquote {
    font-size: 1.6rem;
    line-height: 1.3;
    text-indent: var(--paratext-indent);
    text-align: center;
    border-top: 1px solid rgb(150, 150, 150);
    border-bottom: 1px solid rgb(150, 150, 150);
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    margin: 1rem 1rem 1rem 1rem;
}
.box {
    border: 5px double rgb(150, 150, 150);
    border-radius: 2%;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 2rem 0rem 2rem 0rem;
    background-color: rgba(212, 212, 212, 0.819);
}
.box p,
.box ol,
.box ul {
    font-size: 1.2rem;
}
.centered {
    text-align: center;
    text-indent: 0rem;
}
.noindent {
    text-indent: 0rem;
}
.firstpara {
    text-indent: 0rem;
    margin: var(--paragraph-margins-first);
    margin: 3rem 0rem 0.7rem 0rem;
}
.lastpara {
    margin: var(--paragraph-margins-last);
    text-indent: var(--paratext-indent);
}
.indented {
    text-align: left;
    line-height: var(--paraquote-line-height);
    padding-left: 2rem;
    padding-right: 1.13rem;
    text-indent: 0rem;
}
figcaption {
    font-size: 1rem;
    text-align: center;
    margin: var(--paragraph-margins);
    line-height: 1.3rem;
}
.caption {
    font-size: 0.94rem;
    font-style: normal;
    text-align: center;
    line-height: 1.3em;
}
.note {
    font-size: 0.78rem;
    font-style: normal;
    line-height: 1.2rem;
    margin-bottom: 0.7em;
}
.notes {
    font-size: 0.78rem;
    font-style: normal;
    line-height: 1.5em;
    margin-bottom: 0.7em;
}
.emphasis {
    font-style: italic;
}
.content-list {
    line-height: 1.63em;
    text-align: left;
    padding-left: 5px;
}
.content-entry {
    padding-bottom: 0.5rem;
}
.backtotop {
    font-size: 0.9em;
    margin-bottom: 0.7em;
    text-align: right;
}
.hangingindent {
    padding-left: 2rem;
    text-indent: -2rem;
}
.publication-data,
.publication-data p {
    font-size: 0.8rem;
    text-align: center;
    font-style: normal;
    line-height: 1.3;
    text-indent: 0;
}
.publication-data-ml,
.publication-data-ml p {
    font-size: 0.9rem;
    text-align: center;
    font-style: normal;
    line-height: 1.3;
    text-indent: 0;
    letter-spacing: -0.4pt;
}

/*To Display Verses and Notes inline on touch/click*/
/*<span class="more_info" title="tool tip">underline</span>*/
	.more_info {
	  border-bottom: 1px dotted;
	  position: relative;
	}
	.more_info .title {
		z-index: 99;
		font-size: 18px;
		line-height: 1.5rem;
		text-align:left;
		background: #1b5d37;
		color: #dddddd;
		padding: 2px;
		white-space: pre-wrap;
	}

	/*==FOOTNOTE REFERENCE==*/
.noteref {
    font-size: 60%;
    position: relative;
    top: -0.5em;
    text-decoration: none;
}
.footnote-ref {
    font-size: 0.85rem;
    position: relative;
    top: -0.1em;
    text-decoration: none;
}
.footnotes ol > li,
.footnotes ol > li > p {
    font-size: 1rem;
}
/* ### CHARACTER STYLES ### */
.emphasis {
    font-style: italic;
}
.smallcaps {
    font-size: 0.95em;
    font-style: regular;
    font-variant-caps: small-caps;
    line-height: 1.4rem; /*fallback for IE*/
    line-height: var(--paraquote-line-height);
}
.allsmallcaps {
    font-size: 0.95em;
    font-style: regular;
    font-variant-caps: all-small-caps;
    line-height: 1.4rem; /*fallback for IE*/
    line-height: var(--paraquote-line-height);
}
.redletter {
    color: #d40000ff;
}
.highlight {
    color: rgb(114, 5, 5);
    background-color: rgb(254, 255, 209);
}
.goldlight {
    color: #000000;
    background-color: #fcca5e;
}
.colorfont1 {
    color: rgba(211, 9, 103, 0.822);
}
.colorfont2 {
    color: rgba(7, 25, 189, 0.822);
}
.backtotop {
    font-size: 0.9em;
    margin-bottom: 0.7em;
    text-align: right;
}
.verse-num {
    font-size: 0.6rem;
    vertical-align: super;
}
.top {
    line-height: 100%;
    font-size: 28px;
    position: fixed;
    right: max(5px, 2vw);
    bottom: max(5px, 2vh);
}

/*### LISTS ### */
ul {
    font-size: 1.3rem;
    text-align: left;
    line-height: 1.4em;
    padding-left: 8%;
    margin-right: 1.1em;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
ul.a {
    list-style-type: square;
    padding-left: 8%;
    margin-top: 0em;
    margin-bottom: 0.5em;
}
ul.aa {
    list-style-type: circle;
    font-size: 0.9em;
    margin-top: 0em;
    margin-bottom: 0.5em;
}
ol {
    font-size: 1.3rem;
    text-align: left;
    line-height: 1.4em;
    padding-left: 8%;
    margin-right: 1.1em;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
ol.b {
    list-style-type: lower-roman;
    font-size: 0.98rem;
    padding-left: 8%;
    margin-top: 0em;
    margin-bottom: 0.5em;
}
ol.bb {
    list-style-type: lower-roman;
    font-size: 0.95rem;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

/*CONTENT LIST*/
.content-list #toc {
    list-style-type: none;
}
/*TABLES*/
table {
    width: 80%;
    margin: var(--table-margins);
}
table,
th,
td {
    border: 0px solid gray;
    border-collapse: collapse;
}
th {
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
    margin-top: 1rem;
    padding-top: 0.5rem;
    vertical-align: bottom;
}
td {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2;
    padding: 0.5rem;
}
tr {
    border-bottom: 1px solid black;
}
/*### RESPONSIVE DESIGN ###*/
/*Screens wider than 1640px:*/
@media screen and (min-width: 1640px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
}
/*Screens between 1340px and 1640px:*/
@media screen and (min-width: 1340px) and (max-width: 1640px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
}
/*Screens between 991px and 1340px:*/
@media screen and (min-width: 991px) and (max-width: 1340px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    table {
        width: 85%;
    }
}
/*Screens between 991px and 640px:*/
@media screen and (min-width: 640px) and (max-width: 991px) {
    body {
        margin-left: 15%;
        margin-right: 15%;
    }
    img {
        max-width: 85%;
    }
    .chaptitle,
    .chaptitle-prelims {
        font-size: 2rem;
        line-height: 1.2;
    }
    h1,
    .title {
        font-size: 2.4rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 1.3rem;
    }
    .kicker,
    pullquote {
        font-size: 1.4rem;
    }
    .box p,
    .box ol,
    .box ul {
        font-size: 1.1rem;
    }
    p {
        font-size: 1.2rem;
        line-height: 1.4;
    }
    .quotation,
    blockquote p {
        font-size: 1.15rem;
    }
    ol,
    ul {
        font-size: 1.2rem;
        font-weight: 400;
    }
    figcaption {
        font-size: 0.95rem;
    }
    td,
    th {
        font-size: 0.8rem;
        line-height: 1.4;
    }
    .dropcap {
        float: left;
        font-size: 3.5rem;
    }
    table {
        width: 95%;
    }
}
/*Screen width up to 640px:*/
@media screen and (max-width: 640px) {
    body {
        margin-left: 3%;
        margin-right: 3%;
    }
    img {
        max-width: 85%;
    }
    .chaptitle,
    .chaptitle-prelims {
        font-size: 2rem;
        line-height: 1.2;
    }
    h1,
    .title {
        font-size: 2rem;
    }
    .subtitle {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    .content-list {
        font-size: 0.8rem;
    }
    .kicker,
    pullquote {
        font-size: 1.3rem;
    }
    .box p,
    .box ol,
    .box ul {
        font-size: 1rem;
    }
    p {
        font-size: 1.1rem;
        line-height: 1.4;
        font-weight: 400;
        text-align: left;
    }
    .quotation,
    blockquote p {
        font-size: 1.1rem;
    }
    ol,
    ul {
        font-size: 1.1rem;
        font-weight: 400;
    }
    table {
        width: 95%;
    }
    td,
    th {
        font-size: 0.75rem;
        line-height: 1.4;
    }
    figcaption,
    .footnotes ol > li,
    .footnotes ol > li > p {
        font-size: 0.9rem;
    }
    .publication-data,
    .publication-data p {
        font-size: 0.7rem;
    }
    .publication-data-ml,
    .publication-data-ml p {
        font-size: 0.85rem;
    }
    .dropcap {
        float: left;
        font-size: 3rem;
    }
}
/*MENU - HAMBURGER*/
/*-- HAM.CSS--*/ 
	/*############*/
	.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.35s, visibility 0.35s, height 0.35s;
	overflow: hidden;
	background: black;
	z-index: -1;
	}

	#main-menu {
		display: block;
		height: 100px;
		width: 100%;
		background: #3d0e61;
		margin: 0px;
		z-index: 9;
	}

	#main-menu ul {
		max-width: 800px;
		width: 100%;
		height: 100%;
		margin: 0px auto;
		padding: 0px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		z-index: 10;
	}

	#main-menu li {
		list-style-type: none;
		font-size: 2rem;
	}

	#main-menu a {
		color: #b9faf8;
		font-size: 1.5rem;
		text-decoration: none;
	}

	#main-menu a:hover {
		text-decoration: underline;
	}

	#hamburger-input {
		display: none;
	}

	/*Hamburger Button Styling*/
	#hamburger-menu {
		position: fixed;
		top: 10px;
		right: 15px;
		width: 25px;
		height: 25px;
		display: none;
		border: none;
		padding: 0px;
		margin: 0px;
		font-family: "Noto Sans", sans-serif;
		background: linear-gradient(
			to bottom,
			rgb(99, 0, 49),
			rgb(99, 0, 49),
			rgba(255, 255, 255, 0.149),
			rgba(255, 255, 255, 0.068),
			rgb(99, 0, 49),
			rgb(99, 0, 49),
			rgba(255, 255, 255, 0.081),
			rgba(255, 255, 255, 0.108),
			rgb(99, 0, 49),
			rgb(99, 0, 49)
		);
	}
	/*Common Settings: Hamburger Button & Sidebar Styling*/
	#hamburger-menu #sidebar-menu {
		visibility: hidden;
		position: fixed;
		top: 0;
		left: -300px;
		width: 290px;
		height: 120%;
		background-color: rgba(99, 0, 49, 0.897); /*20% transparency*/
		transition: 0.3s;
		padding: 20px 10px;
		box-sizing: border-box;
	}
	 /*MENU Heading*/
	#hamburger-menu h4 {
		font-family: "Noto sans", sans-serif;
		color: #f7f7ff;
		font-size: 1.4rem;
		font-weight: 700;
		padding-top: 0%; /*Clearing for site logo*/
	}
	#hamburger-menu ul {
		padding-left: 0px;
	}
	#hamburger-menu li {
		list-style-type: none;
		line-height: 2.2rem; /*LINE HEIGHT OF MENU ITEMS*/
	}
	#hamburger-menu ul .subsub {
		padding-left: 18px; /*Left indenting OF SubMENU ITEMS*/
	}
	#hamburger-menu a {
		color: #e9e9e9;
		font-family: "Noto sans";
		font-size: 0.9rem; /*FONT SIZE OF MENU ITEMS*/
		text-decoration: none;
	}
	#hamburger-menu a:hover {
		text-decoration: underline;
	}
	#hamburger-input:checked + #hamburger-menu #sidebar-menu {
		visibility: visible;
		left: 0;
	}
	#hamburger-input:checked ~ .overlay {
		visibility: visible;
		opacity: 0.4;
	}

	@media screen and (max-width: 3840px) {
		#main-menu {
			display: none;
		}
		#hamburger-menu {
			display: inline;
			z-index: 9;
		}
		.overlay {
			z-index: 8;
		}
	}

	/*TOGGLE-DARK MODE CSS*/
	/*####################*/
	.toggle {float: right;margin-top: 15px;margin-right: 15px;z-index: 15;}
	/*Toggle checkbox is hidden*/
	.toggle input[type=checkbox] {display: none;}
	/*The label is morphed into switch bay */
	.toggle label {background-color: #0d47a1;border: 2px solid #80d8ff;border-radius: 50px;cursor: pointer;display: inline-block;position: relative;transition: all ease-in-out 0.3s;width: 40px;height: 15px;}
	/*The "switch" circle*/
	.toggle label::after {background-color: ivory;border-radius: 50%;content: '';cursor: pointer;display: inline-block;position: absolute;left: 3px;top: 2px;transition: all ease-in-out 0.3s;width: 10px;height: 10px;}
	/*When checked, switch bay changes color*/
	.toggle input[type=checkbox]:checked ~ label {background-color: #f2f5e6;border-color: orange;}
	/*When checked, switch circle changes color*/
	.toggle input[type=checkbox]:checked ~ label::after {background-color: navy;transform: translateX(24px);}
	/*CSS FOR THEME CHANGE*/
	/*Light Theme*/ 
	body {background: rgb(214, 214, 214); color:rgb(23, 23, 23)}
	body.div {background: rgb(214, 214, 214);color:rgb(23, 23, 23)}
	body a:link {color: #1624e7;}
	body a:visited {color: #c00ba2;}
	body .colorfont2 {color:rgb(11, 9, 179);}
	body .highlight {color: rgb(114, 5, 5);background-color: rgb(254, 255, 209);}
	body .redletter {color: #d40000ff; text-shadow: 0px 0px 0px rgb(0, 0, 0);}
	/*Dark Theme*/ 
	body.dark-theme {background: rgb(31, 31, 31);}
	body.dark-theme h1, 
	body.dark-theme h2, 
	body.dark-theme h3,
	body.dark-theme h4, 
	body.dark-theme h5,
	body.dark-theme h6, 
	body.dark-theme p,
	body.dark-theme pre,
	body.dark-theme ul,
	body.dark-theme ol,
	body.dark-theme .even,
	body.dark-theme .odd,
	body.dark-theme .score-header,
	body.dark-theme figcaption,
	body.dark-theme table td,
	body.dark-theme table th {color:rgb(196, 196, 196);}
	body.dark-theme a:link {color: #f5610b;}
	body.dark-theme a:visited {color: #fb7db8;}
	body.dark-theme .colorfont2 {color:rgb(31, 109, 177);}
	body.dark-theme .highlight {color: rgb(254, 255, 209); background-color: rgba(114, 5, 5, 0.711);}
	body.dark-theme button {color: rgb(254, 255, 209); background-color: rgba(114, 5, 5, 0.711);}
	body.dark-theme .box {background-color: rgb(15, 27, 13); color: rgb(214, 214, 214)}
	body.dark-theme .redletter {/*background-color: rgba(114, 5, 5, 0.711);*/color:rgb(247, 237, 96);text-shadow: 2px 3px 3px rgb(0, 0, 0);}
	body.dark-theme .pullquote {color:rgb(161, 161, 161); text-shadow: 2px 2px 2px rgb(0, 0, 0);}
	body.dark-theme .one-edge-shadow {
	  -webkit-box-shadow: 0 8px 6px -6px rgb(58, 58, 58);
	  -moz-box-shadow: 0 8px 6px -6px rgb(59, 59, 59);
	  box-shadow: 0 12px 6px -6px rgb(0, 0, 0);
